{% extends 'base.html.twig' %}

{% block title %}S'ref{% endblock %}

{% block body %}
<div id="indexSection">
    <div id="divParent">
        <img src="/images/accueilSymfony.jpg" alt="backgroundImg" id="backgroundImgLanding">
        <img src="/images/sRefLogo.png" alt="SrefLogo" id="sRefLogo">

        <p id="referenceP">The reference for all summoners</p>
        <p id="boostP">Boost your knowledge, give your monsters some love and unlock the full potential of your account</p>
    </div>

    <hr>
    <h1>Latest News</h1>
</div>
           
{% for flash_message in app.flashes('success') %}
    <script>
        alert('{{ flash_message }}');
    </script>
{% endfor %}

{% endblock %}

