* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}

/* :root {
    --main-padding:80px;
}

header {
    padding-left: var(--main-padding);
} */
    
aside {
    font-family: Karantina;
}

main {
    padding-left: 80px;
}

body {
    background-color: #BECDDD;
    font-family: 'Nova Square', sans-serif;
    
}

#navV {
    position: fixed;
    top: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    background-color: #182C3A;
    width: 80px;
    overflow: hidden;
    transition: width 0.2s linear;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
    z-index: 5;
}

#logo span {
    font-weight: bold;
    font-size: 40px;
}

#navV a {
    position: relative;
    color: white;
    font-size: 25px;
    display: table;
    width: 200px;
}

#navV img {
    position: relative;
    width: 70px;
    height: 40px;
    font-size: 20px;
    text-align: center;
}

#logo img {
    width: 70px;
    height: 70px;
}

.nav-item {
    position: relative;
    margin-left: 5px;
}

#navV li:not(:first-child):hover {
    background: #244156;
}

#navV:hover {
    width: 200px;
    transition: all 0.5s ease;
} 

#navV li a {
    display: flex;
    align-items: center;
    padding: 10px 10px 10px 5px;
}