* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}

/* :root {
    --main-padding:80px;
}

header {
    padding-left: var(--main-padding);
} */
    
aside {
    font-family: Karantina;
}

main {
    padding-left: 80px;
}

body {
    background-color: #BECDDD;
    font-family: 'Nova Square', sans-serif;
    
}

#navV {
    position: fixed;
    top: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    background-color: #182C3A;
    width: 80px;
    overflow: hidden;
    transition: width 0.2s linear;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
    z-index: 5;
}

#logo span {
    font-weight: bold;
    font-size: 40px;
}

#navV a {
    position: relative;
    color: white;
    font-size: 25px;
    display: table;
    width: 200px;
}

#navV img {
    position: relative;
    width: 70px;
    height: 40px;
    font-size: 20px;
    text-align: center;
}

#logo img {
    width: 70px;
    height: 70px;
}

.nav-item {
    position: relative;
    margin-left: 5px;
}

#navV li:not(:first-child):hover {
    background: #244156;
}

#navV:hover {
    width: 200px;
    transition: all 0.5s ease;
} 

#navV li a {
    display: flex;
    align-items: center;
    padding: 10px 10px 10px 5px;
}

.hamburger {
    position: fixed;
    display: block;
    width: 35px;
    margin-top: 20px;
    left: 20px;
    cursor: pointer;

    appearance: none;
    background: none;
    outline: none;
    border: none;

    z-index: 7;

}

.hamburger .bar, .hamburger:after, .hamburger:before {
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    background-color: white;
    margin: 6px 0px;
    transition: 0.4s;
}

.hamburger.is-active:before {
    transform: rotate(-45deg) translate(-8px, 6px);
}

.hamburger.is-active:after {
    transform: rotate(45deg) translate(-9px, -8px);
}

.hamburger.is-active .bar {
    opacity: 0;
}

.mobile-nav {
    position: fixed;
    display: block;
    top: 0;
    right: 100%;
    width: 100%;
    min-height: 120vh;
    background-color: #182C3A;
    padding-top: 100px;
    z-index: 6;
    transition: 0.4s;
    font-size: 25px;
}

.mobile-nav.is-active {
    right: 0;
}

.mobile-nav a {
    display: block;
    width: 30%;
    max-width: 200%;
    margin: auto;
    text-align: center;
    padding: 12px 16px;

    color: white;
    text-decoration: none;
}

.mobile-nav a:hover {
    background-color: #244156;
}



@media (min-width: 769px) {
    .hamburger {
        display: none;
    }
}

@media (max-width: 768px) {
    #navV {
        display: none;
    }
    
    main{
        padding-left: 0;
    }
}

