* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    font-family: Karantina;
    text-decoration: none;
    box-sizing: border-box;
}

:root {
    --main-padding:80px;
}

body {
    background-image: url(/public/images/accueilSymfony.jpg);
}

header {
    padding-left: var(--main-padding);
}

main {
    padding-left: var(--main-padding);
}

#navV {
    display: flex;
    flex-direction: row;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 80px;
    background-color: #182C3A;
    overflow: hidden;
    transition: width 0.2s linear;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

/* #sLogo {
    display: flex;
    margin: 0;
    padding: 0;
    transition: all 05.s ease;
    width: 125px;
    height: 100px;
} */

.textIcons {
    color: white;

}

a{
    position: relative;
    display: table;
    width: 80px;
    padding: 10px;
    font-size: 30px;
    text-align: center;
}
.nav-item{
    position: relative;
    top: 12px;
    margin-left: 10px;
}

a:hover{
    
}

nav:hover{
    width: 200px;
    transition: all 0.5s ease;
    
}








