<aside>
    <nav id="navV">
        <ul>
            <li><a href="#" class="logo">
                    <img src="/images/sLogo.png" alt="Sref">
                    <span class="nav-item">ref</span>
                </a></li>

            <li><a href="#">
                    <img src="/images/newsIcon.svg" alt="News">
                    <span class="nav-item">News</span>
                </a></li>

            <li><a href="#">
                    <img src="/images/guidesIcon.svg" alt="Guides">
                    <span class="nav-item">Guides</span>
                </a></li>

            <li><a href="#">
                    <img src="/images/tierListIcon.svg" alt="TierList">
                    <span class="nav-item">TierList</span>
                </a></li>

            <li><a href="#">
                    <img src="/images/tcIcon.svg" alt="TheoryCraft">
                    <span class="nav-item">TheoryCraft</span>
                </a></li>

            <li><a href="#">
                    <img src="/images/skinsIcon.svg" alt="Skins">
                    <span class="nav-item">Skins</span>
                </a></li>

            <li><a href="#">
                    <img src="/images/codesIcon.svg" alt="Codes">
                    <span class="nav-item">Codes</span>
                </a></li>
        </ul>
    </nav>
</aside>