<header>
    <nav id="navH">
                <ul>
                    <li>
                        <button>Download SW</button>
                    </li>
                    <li>
                        <a href="#"></a>Guest
                        <img src="images/guestIcon.svg" alt="">
                    </li>
                    <li>
                        <button>Log In</button>
                    </li>
                </ul>
           </nav>

</header>