<header>
    <nav id="navH">
        <ul>
            <li>
                <a href="https://play.google.com/store/apps/details?id=com.com2us.smon.normal.freefull.google.kr.android.common&hl=fr&pli=1" target="_blank">
                    <button id="buttonDw">Download SW</button>
                </a>
            </li>

            <li>
                <a href="{{ path('login') }}">
                    <img src="images/guestIcon.svg" alt=""><br>Guest
                </a>
            </li>
            
            <li>
            {% if app.user %}
                <a href="{{path('logout')}}">Logout</a>
            {% else %}
                <a href="{{path('login')}}">Login</a>
            {% endif %}
                {# <a href="{{ path('login') }}">
                    <button id="buttonLog">Log In</button>
                </a> #}
            </li>
        </ul>
    </nav>

</header>